*{
    margin: 0;
    padding: 0;
    background-color: rgb(46, 148, 179);
    color: white;
}

.maindiv{
    margin: 50px auto 50px;
    color: white;
    font-weight: bold;

}

.dosomething{
    margin: 0px auto 50px;
    color: rgb(186, 238, 186);
    font-weight: bold;
    font-style: italic;
}